.mainH1{
  text-align: center;
  font-size: 5rem;
  margin-top: 10rem;
}

.mainH2{
  text-align: center;
  font-size: 3rem;
  color: #b7b7b7
}

.landing{
  width: 100%;
}
.imagecontainer{
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.upbutton{
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: none;
  position: fixed;
  right: 20px;
  bottom: 85px;
  border-radius: 26px;
  background: #7920a6;
}

.upbutton_top{
  display: none;
}

.upbutton:hover{
  background: rgb(139, 68, 174);
}

