.navbar{
  background-color: #191919;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0
}

.menubarContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.layoutMain{
  background: linear-gradient(0deg, transparent 69%, #2f2737 100%);
  padding-top: 50px;
  height: 2500px;
  display: flex;
  justify-content: center;
}

.maingradient{
  color: white;
  background: #090516
}

.menubar{
  color: white;
}
.title{
  color: white;
  font-family: titleFont;
  cursor: pointer;
  float: left;
  font-size: 18px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px
}

.listItem{
  cursor: pointer;
  float: left;
  font-size: 14px;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px
}
.listItem:hover{
  background-color: #080808;
  color: white;
  text-decoration: underline
}

.footer{
  display: flex;
  align-items: center;
  color: white;
  background-color: #191919;
  height: 250px;
  width: 100%;
  justify-content: center;
}

.footerWrapper{
  width: 75%;
  height: 140px;
  display: flex;
  justify-content: space-between;
}
.footerColumnWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.span{
  font-size:12px;
  letter-spacing: -0.25px;
  color: white;
}
.spanbar{
  font-size:12px;
  letter-spacing: -0.25px;
  color: white;
  padding: 4px;
}
.spanbar::after{
  content: "";
  display: inline-block;
  background: #dfdfdf;
  width: 1px;
  height: 10px;
  margin: 0px 7px;
}
